p{margin:0 0 10px;}
small{font-size:85%;}
strong{font-weight:bold;}
em{font-style:italic;}
cite{font-style:normal;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
h1,h2,h3,h4,h5,h6{margin:10px 0;font-family:inherit;font-weight:bold;line-height:20px;color:inherit;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#999999;}
h1,h2,h3{line-height:40px;}
h1{font-size:38.5px;}
h2{font-size:31.5px;}
h3{font-size:24.5px;}
h4{font-size:17.5px;}
h5{font-size:14px;}
h6{font-size:11.9px;}
h1 small{font-size:24.5px;}
h2 small{font-size:17.5px;}
h3 small{font-size:14px;}
h4 small{font-size:14px;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
a{background:transparent;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.first{margin-left:0;}
.last{margin-right:0;}
.top{margin-top:0;}
.bottom{margin-bottom:0;}
.inline{display:inline;}
.center{margin:0 auto;}
.borderless{border:0;}
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
.imgLeft{float:left;margin:4px 10px 4px 0;}
.imgRight{float:right;margin:4px 0 4px 10px;}
.strong{font-weight:bold;}
.emphasis{font-style:italic;}
.underline{border-bottom:1px solid;}
.hide{display:none;}
.opaque{opacity:0;}
.noBg{background:none;}
.noMargin{margin:0 !important;}
.noPadding{padding:0 !important;}
.noIndent{margin-left:0;padding-left:0;}
.noBullet{list-style:none;list-style-image:none;}
.uc{text-transform:uppercase;}
.lc{text-transform:lowercase;}
.center-block{display:block;margin:0 auto;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.horizontal{list-style:none;margin:0;padding:0;}.horizontal li{position:relative;float:left;}
.clean{list-style:none;margin:0;padding:0;}
@font-face{font-family:'lobster';src:url('../css/fonts/lobster/lobster_1.3-webfont.eot');src:url('../css/fonts/lobster/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),url('../css/fonts/lobster/lobster_1.3-webfont.woff') format('woff'),url('../css/fonts/lobster/lobster_1.3-webfont.ttf') format('truetype'),url('../css/fonts/lobster/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');font-weight:normal;font-style:normal;}.lobster{font-family:'lobster';}
.btn-mini{border:none;font-family:inherit;font-size:inherit;color:inherit;background:none;cursor:pointer;padding:0.5em 1em;display:inline-block;margin:15px 30px;text-transform:uppercase;letter-spacing:1px;font-weight:inherit;outline:none;position:relative;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;font-size:10.5px;}.btn-mini:after{content:'';position:absolute;z-index:-1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.btn-small{border:none;font-family:inherit;font-size:inherit;color:inherit;background:none;cursor:pointer;padding:0.5em 1em;display:inline-block;margin:15px 30px;text-transform:uppercase;letter-spacing:1px;font-weight:inherit;outline:none;position:relative;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;font-size:11.9px;}.btn-small:after{content:'';position:absolute;z-index:-1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.btn-large{border:none;font-family:inherit;font-size:inherit;color:inherit;background:none;cursor:pointer;padding:0.5em 1em;display:inline-block;margin:15px 30px;text-transform:uppercase;letter-spacing:1px;font-weight:inherit;outline:none;position:relative;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;font-size:17.5px;}.btn-large:after{content:'';position:absolute;z-index:-1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.btn{border:none;font-family:inherit;font-size:inherit;color:inherit;background:none;cursor:pointer;padding:0.5em 1em;display:inline-block;margin:15px 30px;text-transform:uppercase;letter-spacing:1px;font-weight:inherit;outline:none;position:relative;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s;}.btn:after{content:'';position:absolute;z-index:-1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.btn-1{border:3px solid #049cdb;color:#049cdb;}.btn-1:after{width:0%;height:100%;top:0;left:0;background:#049cdb;}
.btn-1:hover,.btn-1.active{color:#e0f5fe;}.btn-1:hover:after,.btn-1.active:after{width:100%;}
.btn-2{background:#049cdb;color:#e0f5fe;-webkit-box-shadow:0 2px #025577;-moz-box-shadow:0 2px #025577;box-shadow:0 2px #025577;-webkit-transition:0s;-moz-transition:0s;-o-transition:0s;transition:0s;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}.btn-2:hover{-webkit-box-shadow:0 1px #025577;-moz-box-shadow:0 1px #025577;box-shadow:0 1px #025577;top:1px;}
.btn-2:active{-webkit-box-shadow:0 0;-moz-box-shadow:0 0;box-shadow:0 0;top:2px;}
.container{position:relative;width:960px;margin:0 auto;padding:0;}.container .column,.container .columns{float:left;display:inline;margin-left:10px;margin-right:10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}.container .column.alpha,.container .columns.alpha{margin-left:0;}
.container .column.omega,.container .columns.omega{margin-right:0;}
.container .one.column,.container .one.columns{width:40px;}
.container .two.columns{width:100px;}
.container .three.columns{width:160px;}
.container .four.columns{width:220px;}
.container .five.columns{width:280px;}
.container .six.columns{width:340px;}
.container .seven.columns{width:400px;}
.container .eight.columns{width:460px;}
.container .nine.columns{width:520px;}
.container .ten.columns{width:580px;}
.container .eleven.columns{width:640px;}
.container .twelve.columns{width:700px;}
.container .thirteen.columns{width:760px;}
.container .fourteen.columns{width:820px;}
.container .fifteen.columns{width:880px;}
.container .sixteen.columns{width:940px;}
.container .one-third.column{width:300px;}
.container .two-thirds.column{width:620px;}
.container .offset-by-one{padding-left:60px;}
.container .offset-by-two{padding-left:120px;}
.container .offset-by-three{padding-left:180px;}
.container .offset-by-four{padding-left:240px;}
.container .offset-by-five{padding-left:300px;}
.container .offset-by-six{padding-left:360px;}
.container .offset-by-seven{padding-left:420px;}
.container .offset-by-eight{padding-left:480px;}
.container .offset-by-nine{padding-left:540px;}
.container .offset-by-ten{padding-left:600px;}
.container .offset-by-eleven{padding-left:660px;}
.container .offset-by-twelve{padding-left:720px;}
.container .offset-by-thirteen{padding-left:780px;}
.container .offset-by-fourteen{padding-left:840px;}
.container .offset-by-fifteen{padding-left:900px;}
.row{margin-bottom:20px;}
@media only screen and (min-width:768px) and (max-width:959px){.container{width:768px;}.container .column,.container .columns{margin-left:10px;margin-right:10px;}.container .column.alpha,.container .columns.alpha{margin-left:0;margin-right:10px;} .container .column.omega,.container .columns.omega{margin-right:0;margin-left:10px;} .container .alpha.omega{margin-left:0;margin-right:0;} .container .one.column,.container .one.columns{width:28px;} .container .two.columns{width:76px;} .container .three.columns{width:124px;} .container .four.columns{width:172px;} .container .five.columns{width:220px;} .container .six.columns{width:268px;} .container .seven.columns{width:316px;} .container .eight.columns{width:364px;} .container .nine.columns{width:412px;} .container .ten.columns{width:460px;} .container .eleven.columns{width:508px;} .container .twelve.columns{width:556px;} .container .thirteen.columns{width:604px;} .container .fourteen.columns{width:652px;} .container .fifteen.columns{width:700px;} .container .sixteen.columns{width:748px;} .container .one-third.column{width:236px;} .container .two-thirds.column{width:492px;} .container .offset-by-one{padding-left:48px;} .container .offset-by-two{padding-left:96px;} .container .offset-by-three{padding-left:144px;} .container .offset-by-four{padding-left:192px;} .container .offset-by-five{padding-left:240px;} .container .offset-by-six{padding-left:288px;} .container .offset-by-seven{padding-left:336px;} .container .offset-by-eight{padding-left:384px;} .container .offset-by-nine{padding-left:432px;} .container .offset-by-ten{padding-left:480px;} .container .offset-by-eleven{padding-left:528px;} .container .offset-by-twelve{padding-left:576px;} .container .offset-by-thirteen{padding-left:624px;} .container .offset-by-fourteen{padding-left:672px;} .container .offset-by-fifteen{padding-left:720px;}}@media only screen and (max-width:767px){.container{width:300px;}.container .columns,.container .column{margin:0;} .container .one.column,.container .one.columns,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.column{width:300px;} .container .offset-by-one,.container .offset-by-two,.container .offset-by-three,.container .offset-by-four,.container .offset-by-five,.container .offset-by-six,.container .offset-by-seven,.container .offset-by-eight,.container .offset-by-nine,.container .offset-by-ten,.container .offset-by-eleven,.container .offset-by-twelve,.container .offset-by-thirteen,.container .offset-by-fourteen,.container .offset-by-fifteen{padding-left:0;}}@media only screen and (min-width:480px) and (max-width:767px){.container{width:420px;}.container .columns,.container .column{margin:0;} .container .one.column,.container .one.columns,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.column{width:420px;}}.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.row:after,.clearfix:after{clear:both;}
.row,.clearfix{zoom:1;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.spriteMain2-en-een-half-Stars,.spriteMainChange{display:inline-block;*display:inline;*zoom:1;background-image:url(../images/sprites/main.png?25f40a);background-repeat:no-repeat;}
.spriteMain2-en-een-half-Stars{background-position:0px 0px;width:86px;height:24px;}
.spriteMainChange{background-position:0px -24px;width:21px;height:18px;}
body{background:#ffffff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;}
div{border:1px solid #555555;}
nav a{display:block;padding:10px;background:#ffc40d;}nav a:hover{background:#049cdb;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;transition:0.5s;}
