/* glue: 0.3 hash: 25f40a8a1e */
.spriteMain2-en-een-half-Stars,
.spriteMainChange {display:inline-block; *display:inline; *zoom:1; background-image:url(../images/sprites/main.png?25f40a); background-repeat:no-repeat;}
.spriteMain2-en-een-half-Stars {background-position:0px 0px; width:86px; height:24px;}
.spriteMainChange {background-position:0px -24px; width:21px; height:18px;}
